[submodule "supermercado"]
	path = supermercado
	url = https://github.com/JavierLianoRioz/Supermercado
[submodule "To-Do App"]
	path = todo
	url = https://github.com/JavierLianoRioz/To-Do-List
[submodule "To-Do-List"]
	path = To-Do-List
	url = https://github.com/JavierLianoRioz/To-Do-List
